<%= render partial: 'form', locals: {r: @restaurant} %>
<h1>Reviews</h1>
<% @restaurant.experiences.each do |experience| %>
  <div class="center review">
    <strong>Rating: </strong><%=experience.rating %><br>
    <strong>Description: </strong><%=experience.description %>
  </div>
  <br>
<% end %>